<div class='row'>
  <div class='col-sm-6'>
    <ul class="list-unstyled mt-2">
      <% @messages.each do |message| %>
        <% if message.partner_id == current_user.id %>
          <li class="d-flex">
            <img class="rounded me-2 mb-5" src="<%= gravatar_url(message.user, { size: 64 }) %>" alt="">
            <div>
              <div>
                <%= link_to message.user.name, user_path(message.user), class: "text-decoration-none" %> <span class="text-muted"><%= message.created_at %></span>
              </div>
              <div>
                <p><%= message.content %></p>
              </div>
            </div>
          </li>
        <% else %>
          <li class="d-flex">
            <img class="rounded me-2 mb-5" src="<%= gravatar_url(message.user, { size: 64 }) %>" alt="">
            <div>
              <div>
                <%= link_to message.user.name, user_path(message.user), class: "text-decoration-none" %> <span class="text-muted"><%= message.created_at %></span>
              </div>
              <div>
                <p><%= message.content %></p>
              </div>
              <div>
                <% if current_user == message.user %>
                  <%= link_to "削除", message, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger btn-sm' %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <aside class='col-sm-6'>
    <%= form_with(model:@message, url: messages_path) do |f| %>
      <%= display_validation_errors('content','content') %>
      <div class='mb-3'>
        <%= f.text_area :content, class: 'form-control', rows: 5 %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :partner_id, value: @partner_id %>
      </div>
      <%= f.submit 'コメントする', class: 'btn btn-primary w-100' %>
    <% end %>
  </aside>
</div>
    